---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.6;

$spacing-unit:     30px;

$text-color:       #f1f1f1;
$background-color: #1f1f1f;
$brand-color:      #3f3f3f;

$grey-color:       #7f7f7f;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "dekyll"
;

pre, code {
    background-color: #3f3f3f;
}

.related-posts {
    background-color: #2f2f2f;
}

.pagination, span {
    color: #f2f2f2;
    border-color: #f2f2f2;
}

a {
    color: #008080;
}
a:visited {
    color: #008080;
}

.rss-subscribe a {
    color: #008080;
}
