<!-- About -->
<div id="about" class="section md-padding">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">What We Do</h2>
            </div>
            <!-- /Section header -->

            {% for item in site.features %}

            <!-- about -->
            <div class="col-md-4">
                <div class="about">
                    <i class="{{ item.icon }}"></i>
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.description }}</p>
                </div>
            </div>
            <!-- /about -->

            {% endfor %}

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /About -->
