<!-- Why Choose Us -->
<div id="features" class="section md-padding bg-grey">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- why choose us content -->
            <div class="col-md-6">
                <div class="section-header">
                    <h2 class="title">About Us</h2>
                </div>
                <p>Gevosoft is a technology development company from Finland. The goal of Gevosoft is to create useful applications and services for everyone. We develop things like:</p>
                <div class="feature">
                    <i class="fa fa-check"></i>
                    <p>Software & Applications</p>
                </div>
                <div class="feature">
                    <i class="fa fa-check"></i>
                    <p>Scripts</p>
                </div>
                <div class="feature">
                    <i class="fa fa-check"></i>
                    <p>Android Apps</p>
                </div>
                <div class="feature">
                    <i class="fa fa-check"></i>
                    <p>Digital Services</p>
                </div>
                <br>
                <div class="section-header">
                    <h2 class="title">Our Story</h2>
                </div>
                <p>Gevosoft was launched in Helsinki Finland on the 17th of February 2018 by Edvard Busck-Nielsen as a platform/name to publish apps &amp; tools under. Gevosoft origins from Tell Space which was the original company but Gevosoft took over all things related to Tell Space. Tell Space was shut down by this message on the Tell Space Blog:</p>

                <blockquote style="font-style: italic;">
                    <p>Tell Space is officially being shut down and replaced by Gevosoft. Gevosoft is a technology development and service company much like Tell Space. This means that all Tell Space products will be moved over to Gevosoft. So What does this mean for you?</p>

                    <p>Well, really nothing, you will not notice any difference in Tell Space’s old products but the name change. If you are concerned please read more &amp; contact Gevosoft on their website.</p>

                    <p>Thank you for this ride and we wish you the best!</p>

                    <p>Regards the Tell Space team 2018</p>
                </blockquote>

                <p>Tell Space was also created by Edvard but Gevosoft was basically a fancy name change, but the company philosophy change made it easier to just create a new company and automatically move over all products &amp; projects to the new company.</p>

                <p>Gevosoft is now focused mainly on mobile apps which were one of the reasons Gevosoft was founded, but Gevosoft also develops some scripts and tools like The Onyx Bash Project and the Kelly Programming Language. Edvard had developed an Android app and wanted to publish it to google play so Tell Space was created to create a google developer account under a name and not a person.</p>

                <p><br/></p>
            </div>
            <!-- /why choose us content -->

            <!-- About slider -->
            <div class="col-md-6">
                <div id="about-slider" class="owl-carousel owl-theme">
                    <img class="img-responsive" src="/img/about1.jpg" alt="">
                    <img class="img-responsive" src="/img/about2.jpg" alt="">
                    <img class="img-responsive" src="/img/about3.jpg" alt="">
                </div>
            </div>
            <!-- /About slider -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Why Choose Us -->
