<!-- Why Choose Us -->
<div id="features" class="section md-padding bg-grey">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- why choose us content -->
            <div class="col-md-6">
                <div class="section-header">
                    <h2 class="title">About Us</h2>
                </div>
                <p>The goal of Gevosoft is to create useful applications and services for everyone. We develop things like:</p>
                <div class="feature">
                    <i class="fa fa-check"></i>
                    <p>Software & Applications</p>
                </div>
                <div class="feature">
                    <i class="fa fa-check"></i>
                    <p>Scripts</p>
                </div>
                <div class="feature">
                    <i class="fa fa-check"></i>
                    <p>Android Apps</p>
                </div>
                <div class="feature">
                    <i class="fa fa-check"></i>
                    <p>Digital Services</p>
                </div>
                <br>
                <div class="section-header">
                    <h2 class="title">Our Story</h2>
                </div>
                <p>Gevosoft was launched in Helsinki Finland on the 17th of February 2018</p>
                <p>Gevosoft is focused mainly on mobile apps, but Gevosoft also develops scripts and tools like The Onyx Bash Project and the Kelly Programming Language.</p>

                <p><br/></p>
            </div>
            <!-- /why choose us content -->

            <!-- About slider -->
            <div class="col-md-6">
                <div id="about-slider" class="owl-carousel owl-theme">
                    <img class="img-responsive" src="/img/about1.jpg" alt="">
                    <img class="img-responsive" src="/img/about2.jpg" alt="">
                    <img class="img-responsive" src="/img/about3.jpg" alt="">
                </div>
            </div>
            <!-- /About slider -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Why Choose Us -->
