<!-- Footer -->
<footer id="footer" class="sm-padding bg-dark">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <div class="col-md-12">

                <!-- footer logo -->
                <div class="footer-logo">
                    <a href="index.html"><img src="{{ site.header_logo_alt }}" alt="Gevosoft Technology Development"></a>
                </div>
                <!-- /footer logo -->

                <!-- footer follow -->
                <ul class="footer-follow">
                    <li><a href="{{ site.github_link }}"><i class="fa fa-github"></i></a></li>
                    <li><a href="{{ site.instagram_link }}"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCevZxKVT6Onj59n_q59O3Cg"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="https://play.google.com/store/apps/dev?id=7863999736883684688&hl=en_US"><i class="fa fa-google"></i></a></li>
                </ul>
                <!-- /footer follow -->

                <!-- footer copyright -->
                <div class="footer-copyright">
                    <p>© Gevosoft 2019</p>
                </div>
                <!-- /footer copyright -->

            </div>

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</footer>
<!-- /Footer -->
