<!-- Pricing -->
<div id="pricing" class="section md-padding">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">Pricing</h2>
            </div>
            <!-- /Section header -->

            <!-- pricing -->
            <div class="col-sm-4">
            </div>
            <!-- /pricing -->

            <!-- pricing -->
            <div class="col-sm-4">
                <div class="pricing">
                    <div class="price-head">
                        <span class="price-title">Free</span>
                        <div class="price">
                            <h3>$0<span class="duration">Forever</span></h3>
                        </div>
                    </div>
                    <ul class="price-content">
                        <li>
                            <p>All Gevosoft Apps, Services, etc. Are Free</p>
                        </li>
                        <li>
                            <p>We love the GNU GPL Licence</p>
                        </li>
                        <li>
                            <p>Great Support</p>
                        </li>
                    </ul>
                    <div class="price-btn">
                        <a href="#portfolio"><button class="outline-btn">Our Projects</button></a>
                    </div>
                </div>
            </div>
            <!-- /pricing -->

            <!-- pricing -->
            <div class="col-sm-4">
            </div>
            <!-- /pricing -->

        </div>
        <!-- Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Pricing -->
