<!-- Team -->
	<div id="team" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Team</h2>
				</div>
				<!-- /Section header -->

				<!-- team -->
				<div class="col-sm-4">
				</div>
				<!-- /team -->
				<!-- team -->
				<div class="col-sm-4">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="/img/team.jpg" alt="Edvard Busck-Nielsen">
							<div class="overlay">
								<div class="team-social">
									<a href="https://github.com/Buscedv"><i class="fa fa-github"></i></a>
									<a href="https://instagram.com/Buscedv"><i class="fa fa-instagram"></i></a>
									<a href="mailto:edvard.busck-nielsen@gevosoft.ml"><i class="fa fa-envelope"></i></a>
								</div>
							</div>
						</div>
						<div class="team-content">
							<h3>Edvard Busck-Nielsen</h3>
							<span>Founder, CEO & Developer</span>
						</div>
					</div>
				</div>
				<!-- /team -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Team -->
